<ion-view title="Ads">
    <ion-content padding="true" class="bgt-background">
        <div class="row ">
            <div class="col ">
               <img src="img/ionic.png"/>
            </div>
            <div class="col">
                <img src="img/ionic.png"/>
            </div>
            <div class="col">
                <img src="img/ionic.png"/>
            </div>
        </div>
        </div>

        </ion-content>
            <ion-tabs class="tabs-icon-top bgt-background">
                
                <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                    <ion-nav-view name="home-tab"></ion-nav-view>
                </ion-tab>
                
                <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
                    <ion-nav-view name="about-tab"></ion-nav-view>
                </ion-tab>
                
                <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
                </ion-tab>
                
            </ion-tabs>
</ion-view>